/*.container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 50px 50px;
  grid-gap: 3px;
}*/
.container {
  display: grid;
  grid-template: 40px 200px 40px / repeat(2, 1fr);
  grid-gap: 3px;
}

.header {
  grid-column: 2 / -1;
} 

.menu {
  grid-row: 1 / 4;
}

.content {
  grid-column: 2 / -1;
}

.footer {
  grid-column: 2 / -1;
}
