/*.container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 50px 50px;
  grid-gap: 3px;
}*/

  /* positioning with grid-column and grid-row
.container {
  display: grid;
  grid-template: 40px 200px 40px / repeat(2, 1fr);
  grid-gap: 3px;
}

.header {
  grid-column: 2 / -1;
} 

.menu {
  grid-row: 1 / 4;
}

.content {
  grid-column: 2 / -1;
}

.footer {
  grid-column: 2 / -1;
} */

/* positiong with grid template area */

  .container {
    height: 100%;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 40px auto 40px;
    grid-template-areas: 
      ". h h h h h h h h h h ."
      "m c c c c c c c c c c ."
      ". f f f f f f f f f f ."

    ;
}

.header {
  grid-area: h;
}

.menu {
  grid-area: m;
}

.content {
  grid-area: c;
}

.footer {
  grid-area: f;
}
